<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset=utf-8>
<title>Windows</title>
</head>
<body>
	<h2 align="center" >Select a process to kill</h2>
	<br>
	<form action="#"  th:action="@{/killWindows/}" th:object=${selectedProcess} method="post">
		<table style="width: 70%; margin:auto;" class="table table-striped table table-bordered" >
			<thead>
				<tr>
					<th>Name</th>
					<th>Id</th>
					<th>CPU</th>
					<th>Selected Process</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${allProcesses.empty}">
					<td colspan="2">No processes available</td>
				</tr>
				<tr th:each="process : ${allProcesses}">
					<td th:text="${process.name}"></td>
					<td th:text="${process.id}"></td>
					<td th:text="${process.cpu}"></td>
					<td><input type="radio" name="option" th:field="*{id}" th:value="${process.id}" required></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" class="btn btn-success" style="position: fixed; bottom: 40px; right: 40px;" value="Submit">
	</form>
	<a class="btn btn-primary" style="position: fixed; bottom: 40px; left: 40px;" href="/">Go back</a>
</body>
</html>
